@model IEnumerable<ZM_CS296N_TermProject.Models.DomainModels.Review>

@{
    ViewData["Title"] = "Index";
}

@using Microsoft.AspNetCore.Identity
@using ZM_CS296N_TermProject.Models.DomainModels;

@inject SignInManager<AppUser> signInManager

<h1>Review Browser</h1>

<p>
    @if (signInManager.IsSignedIn(User))
    {
        @if (User.IsInRole("Banned"))
        {
            @Html.DisplayText("You're Banned!");
        }
        else
        {
            <a asp-action="Create"><img src="\Images\PostReviewButton.png" alt="Create New Post" class="image-class" /></a>
        }

    }
    else
    {
        <a asp-controller="Account" asp-action="Login">Log In</a>
    }
    <form asp-action="Index" asp-controller="Review" method="POST">
        <input type="text" name="search" id="search" />
        <button type="submit" id="SearchBar">Search</button>
    </form><br />
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ReviewId">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    @for (int i = 0; i < item.Rating; i++)
                    {
                        <a>⭐</a>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ReviewId">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.ReviewId">Delete</a>
                    </td>
                }
            </tr>


        }
    </tbody>
</table>
